<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	
  </head>
  <body>
  <a href="add">增加sss</a>
  </body>
  <script type="text/javascript" src = "/javascripts/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src = "/javascripts/socket.io.js"></script>
  <script type="text/javascript">
    socket = io.connect('http://localhost');
  socket.on('open',function(){
    console.log('连接成功');
  });
  socket.on('system',function(json){

  });
  socket.on('message',function(json){
    console.log(json);
  });
  socket.send("test");
  setTimeout(function(){
  	socket.disconnect();
  	 console.log('断开连接');
  },3000);
  </script>
</html>