<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<h1>
		修改
	</h1>
	<form method="post">
		<%=user.sid%>
		sid : <input type="text" name="sid" value="<%=user.sid%>"/><br/><br/>
		name:<input type="text" name="name" value="<%=user.name%>"/><br/><br/>
		school:<input type = "text" name="school" value ="<%=user.school%>"/><br/><br/>
		<input type="hidden" name="id" value="<%=user._id%>"/>
		
		<input type="submit" value="submit"/>
		<input type="reset" value="reset"/>
	</form>
  </body>
</html>