<!DOCTYPE html>
<html>
  <head>
    <title>painting</title>
    <link rel='stylesheet' href='/stylesheets/painting.css' />
	
  </head>
  <body>
    <div class="container">
      <div class="drawarea">
        <canvas id="mycanvas" width="700px" height="500px">抱歉！您的浏览器不支持HTML5！</canvas>
        <ul class="pencil clearfix">
          <li><em></em></li>
          <li><em></em></li>
          <li><em></em></li>
          <li><em></em></li>
        </ul>
        <ul class="color clearfix">
          <li style="background-color:#000000"></li><li style="background-color:#909090"></li><li style="background-color:#f0f0f0"></li><li style="background-color:#dc0d11"></li><li style="background-color:#f7921d"></li><li style="background-color:#f0ee00"></li><li style="background-color:#35cc05"></li>
          <li style="background-color:#1aa7e4"></li><li style="background-color:#0000ff"></li><li style="background-color:#fe80d2"></li><li style="background-color:#652c90"></li><li style="background-color:#daac84"></li><li style="background-color:#5f3713"></li><li style="background-color:#b0cc00"></li>
        </ul>
        <ul class="tool clearfix">
          <li><em class='pencil'></em></li>
          <li><em class='eraser'></em></li>
          <li><em class='trash'></em></li>
        </ul>
      </div>
    </div>
  </body>
  <script type="text/javascript" src = "/javascripts/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src = "/javascripts/painting.js"></script>

</html>